<div class="ui fluid action input">
  <input type="text" #ref placeholder="Search...">
  <div class="ui button" (click)="onSearch(ref)">Search</div>
</div>

<!--Liste de voitures-->

<div class="ui grid">

  <div class="ui equal width grid">
    <div class="ui list">
      <div class="item" *ngFor="let aCar of cars">
        <div class="content" #id> {{aCar.id}}</div>
        <div class="content"><div class="ui small image"><img src="{{aCar.imagelink}}"></div></div>

        <div class="content"> Marque :  {{aCar.marque | uppercase}}</div>
        <div class="content"> Modèle :  {{aCar.modele}}</div>
        <a href="#" routerLink="/updatecar/{{aCar.id}}"> Modèle{{aCar.modele}}</a>
        <div class="content"> Couleur : {{aCar.couleur}}</div>
        <div class="content"> Kilométrage : {{aCar.km}}</div>
        <div class="content"> Nombre de portes : {{aCar.nbdoors}}</div>
        <div class="content"> Date de première mise en circulation : {{aCar.dtbuilt | date: 'shortDate'}}</div>
        <div class="content"> Date du dernier controle : {{aCar.dtlastcontrole | date: 'shortDate'}}</div>


        <button class="ui primary button" (click)="onDelete($event, id)"> Supprimer </button>
        <button class="ui primary button" (click)="onClick($event, id)"> Éditer </button>
      </div>
    </div>
  </div>


</div>
