
<div class="ui center aligned basic segment">
  <h3 class="ui block header">
    Le garage des concepteurs développeurs web
  </h3>
  <div class="ui secondary pointing menu">
    <a class="item active" routerLink="/">
      Home
    </a>
    <a class="item" routerLink="/garage">
      Liste
    </a>
    <a class="item" routerLink="/createcar">
      Ajouter une voiture
    </a>

    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui segment">
    <p></p>
  </div>

</div>
