
  <div class="ui center aligned basic segment">
    <div class="ui teal labeled icon button" routerLink="/">
      Home
      <i class="home icon"></i>
    </div>
  
    <div class="ui horizontal divider">
      An Angular project
    </div>

  </div>
