<form class="ui form">
  <div class="field">
    <label>Marque</label>
    <input type="text" name="marque" placeholder="Marque" #marque>
  </div>
  <div class="field">
    <label>Modèle</label>
    <input type="text" name="modele" placeholder="Modele" #modele>
  </div>
  <div class="field">
    <label>Couleur</label>
    <input type="text" name="couleur" placeholder="couleur" #couleur>
  </div>
  <div class="field">
    <label>Kilométrage</label>
    <input type="text" name="km" placeholder="km" #km>
  </div>
  <div class="field">
    <label> Nombre de portes</label>
    <input type="text" name="nbportes" placeholder="portes" #nbportes>
  </div>
  <div class="field">
    <label> Date de première mise en circulation</label>
    <input type="text" name="dtcreate" placeholder="date" #date>
  </div>
  <div class="field">
    <label> Dernier controle technique</label>
    <input type="text" name="dtctrl" placeholder="controle technique" #ctrltec>
  </div>
  <!--combolist-->

  <select>
    <option value="3">3</option>
    <option value="5">5</option>

  </select>
  <button (click)="onSubmit($event, marque, modele, couleur, km, portes, date, ctrltec)"class="ui button" type="submit">Submit</button>
</form>
